{% extends 'base.html.twig' %}

{% block title %}Liste des évènements - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event/list.css') }}">
{% endblock %}

{% block body %}

    <h1 class="py-2 text-center">Nos événements</h1>

    <div class="create-event__button main-header my-2">
        <a href="{{ path('event_new') }}" class="button text-center">Créer un évènement</a>
    </div>
    
    <div class="events">
        <div class="row">
            {% for event in events %}
            <div class="col col-md-12 col-lg-6">
                <article class="card event">
                    <div class="card-body event-picture text-center p-4">    
                        {% if event.endAt < date() %}
                        {% set statusText = 'Passé' %}
                        {% set statusColor = 'red' %}
                        {% elseif  event.startAt < date() %}
                        {% set statusText = 'En cours' %}
                        {% set statusColor = 'blue' %}
                        {% else %}
                        {% set statusText = 'A venir' %}
                        {% set statusColor = 'green' %}
                        {% endif %}
                        <span class="event-status {{ statusColor }}">
                            {{ statusText }}
                        </span>
                            <img src="{{ event.picture }}" alt="{{ event.name }}">
                    </div>
                    
                    <div class="event-summary">
                        <h2 class="p-3">{{ event.name }}</h2>
                        <p class="px-3">{{ event.description|slice(0, 150) }} ...</p>
                        <div class="list-category">
                            <ul>
                                <li class="px-3">
                                    {% if event.category.name == "Convention" or event.category.name == "Meeting" %}
                                    <i class="fas fa-users"></i>
                                        
                                    {% elseif event.category.name == "Vente aux enchères / troc" %}
                                    <i class="fas fa-gavel"></i>

                                    {% elseif event.category.name == "Conférence" %}
                                    <i class="fas fa-bullhorn"></i>

                                    {% else %}
                                    <i class="fas fa-gamepad"></i>
                                        
                                    {% endif %}
                                    {{ event.category.name }}
                                </li>
                                <li class="px-3">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ event.place ? event.place.name : 'En ligne' }}
                                </li>
                            </ul>

                            <ul>
                                <li class="px-3">
                                    <i class="far fa-calendar-check"></i>
                                    {{ event.startAt|date('d/m/Y H:i') }}
                                </li>
                                <li class="px-3">
                                    <i class="far fa-calendar-times"></i>
                                    {{ event.endAt|date('d/m/Y H:i') }}
                                </li>
                            </ul>
                        </div>
                        <div class="event-action">
                            <a href="{{ path('event_show', {id: event.id}) }}" class="button">Voir l'évènement</a>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
