{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <article class="event container-fluid">

        <h1 class="py-3 text-center">{{ event.name }}</h1>

        <div class="event-view">
        {% if event.picture matches '{^http}' %}
            <img src="{{ event.picture }}" alt="{{ event.name }}">
        {% else %}
            <img src="{{ asset('uploads/event_pictures/' ~ event.picture) }}" alt="{{ event.name }}">
        {% endif %}
        </div>

        <div class="event-summary d-flex flex-column">
                <p class="event-summary__description my-3">
                    {{ event.description }}
                </p>
                <div class="event-summary__detail my-3">
                    <ul>
                        <li>
                            {% if event.activity.name == "Mangas" or event.activity.name == "Comics" %}
                                <li data-icon="&#xf5da">
                            {% elseif event.activity.name == "Video Games" %}
                                <li data-icon="&#xf11b">
                            {% elseif event.activity.name == "Jeux de société" %}
                                    <li data-icon="&#xf522">
                            {% else %}
                                <li data-icon="&#xf522">
                            {% endif %}
                                Activité / univers : {{ event.activity.name }}
                        </li>

                        <li>
                            {% if event.category.name == "Convention" or event.category.name == "Meeting" %}
                            <li data-icon="&#xf0c0">
                                
                            {% elseif event.category.name == "Vente aux enchères / troc" %}
                            <li data-icon="&#xf0e3">

                            {% elseif event.category.name == "Conférence" %}
                            <li data-icon="&#xf0a1">

                            {% else %}
                            <li data-icon="&#xf11b">
                                
                            {% endif %}
                            {{ event.category.name }}
                        </li>
                            
                        {% if event.gameLevel != NULL %}
                            <li data-icon="&#xf161">
                                Niveau requis : {{ event.gameLevel }}
                            </li>
                        {% else %}
                        {% endif %}
                            <li data-icon="&#xf274">
                                Début : {{ event.startAt|date('d/m/Y H:i') }}
                            </li>
                            <li data-icon="&#xf273">
                                Fin : {{ event.endAt|date('d/m/Y H:i') }}
                            </li>
                            <li data-icon="&#xf3c5">

                        Lieu : {% if event.place %}
                                {{ event.place.name }}<br>
                                {{ event.place.street }}<br>
                                {{ event.place.zipcode }} - {{ event.place.city }}
                        {% else %}
                            En ligne  
                        {% endif %}
                        </li>

                        <li data-icon="&#xf4fd">
                            Organisateur : {{ event.owner.username }}
                        </li>
                    </ul>
                    
                    <div class="buttons-box">
                        {% if is_granted('event_edit', event) %}
                        <div>
                            <a href="{{ path('event_edit', {id: event.id}) }}" class="btn btn-primary">
                                Modifier
                            </a>
                        </div>
                        {% endif %}
                        
                        {% if is_granted('event_delete', event) %}
                        <div>
                            <a href="{{ path('event_delete', {id: event.id}) }}" class="btn btn-danger">
                                Supprimer
                            </a>
                        </div>
                    </div>
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="event-register my-3 rounded-2">
            <span>
                <i class="fas fa-ticket-alt"></i>
                Nombre de places dsponibles : {{ event.capacity - event.bookings|length }}
            </span>
            {% if event.endAt < date() %}
                Cet évènement est terminé
            {% else %}

                {% if is_granted('DISPLAY_BOOK_EVENT', event) %}
                    <a href="{{ path('event_booking', {id: event.id }) }}" class="button">
                        Réserver
                    </a>
                {% else %}
                    <span>Déjà réservé</span>
                    <a class="button" href="{{ path('user_profile', { id: app.user.id }) }}">Voir mes réservations</a> 
                {% endif %}

            {% endif %}
            
        </div>
        
    </article>
{% endblock %}
