{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <article class="event container-fluid">

        <h1 class="py-3 text-center">{{ event.name }}</h1>

        <div class="event-view">
            <img src="{{ event.picture }}" alt="{{ event.name }}">
        </div>

        <div class="event-summary d-flex flex-column">
            <p class="event-summary__description my-3">
                {{ event.description }}
            </p>
            <div class="event-summary__detail my-3">
                <ul>
                    <li data-icon="&#xf274">
                        Début : {{ event.startAt|date('d/m/Y H:i') }}
                    </li>
                    <li data-icon="&#xf273">
                        Fin : {{ event.endAt|date('d/m/Y H:i') }}
                    </li>
                    <li data-icon="&#xf3c5">
                        Lieu : {% if event.place %}
                            {{ event.place.name }}<br>
                            {{ event.place.street }}<br>
                            {{ event.place.zipcode }} - {{ event.place.city }}
                        {% else %}
                            En ligne  
                        {% endif %}    
                    </li>
                    <li data-icon="&#xf4fd">
                        Organisateur : {{ event.owner.username }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="event-register my-3 rounded-2">
            <span>
                <i class="fas fa-ticket-alt"></i>
                Nombre de places restantes : {{ event.capacity }}
            </span>
            <a href="#" class="button">Réserver</a>
        </div>
        
    </article>
{% endblock %}
