{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/event/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <article class="event">
        <div class="event-view">
            <img src="{{ event.picture }}" alt="{{ event.name }}">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="event-summary">
                <p class="event-summary__description">
                    {{ event.description }}
                </p>
                <aside class="event-summary__detail">
                    <ul>
                        <li data-icon="&#xf274">
                            Début : {{ event.startAt|date('d/m/Y H:i') }}
                        </li>
                        <li data-icon="&#xf273">
                            Fin : {{ event.endAt|date('d/m/Y H:i') }}
                        </li>
                        <li data-icon="&#xf3c5">
                            Lieu : {% if event.place %}
                                {{ event.place.name }}<br>
                                {{ event.place.street }}<br>
                                {{ event.place.zipcode }} - {{ event.place.city }}
                            {% else %}
                                En ligne  
                            {% endif %}    
                        </li>
                        <li data-icon="&#xf4fd">
                            Organisateur : {{ event.owner.username }}
                        </li>
                    </ul>
                </aside>
            </div>
        <div class="event-register">
            <span>
                <i class="fas fa-ticket-alt"></i>
                Nombre de places restantes : {{ event.capacity }}
            </span>
            <a href="#" class="button">Réserver</a>
        </div>
    </article>
{% endblock %}
