{% extends 'base.html.twig' %}

{% block title %}Liste des jeux de société - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/board_game/list.css') }}">
{% endblock %}

{% block body %}

    <h1 class="py-2 text-center">Les jeux de société</h1>

    <div class="boardGames container-fluid">
        <div class="row">
            {% for boardGame in boardGames %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <article class="card bg-dark boardGame">
                    <div class="card-body p-3 pushbtn">
                        <div class="boardGame-picture text-center p-1">    
                            <img src="{{ boardGame.picture }}" alt="{{ boardGame.name }}">
                        </div>
                        <div class="boardGame-summary">
                            <h2 class="text-center py-3">{{ boardGame.name }}</h2>
                            <p class="px-3 py-2">{{ boardGame.description|slice(0, 250) }} ...</p>
                            <ul>
                                <li>
                                    <i class="fas fa-tags"></i>
                                    Genre : {{ boardGame.category.name }}
                                </li>
                            </ul>
                        </div>
                        <div class="boardGame-action">
                            <a href="{{ path('board_game_show', {id: boardGame.id}) }}" class="button">Plus de détails</a>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}