{% extends 'base.html.twig' %}

{% block title %}
    WonderGeek le site référence de la PopCulture 
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/index.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <div class="container-fluid px-3">
        <div class="landing row">
            <div class="landing-content col py-5">
                <h1>Bienvenue sur WonderGeek</h1>
                <h2>Le site référence de la PopCulture</h2>
                <a href="{{ path('event_list') }}" class="button">
                    Voir nos événements
                </a>
            </div>
            <div class="text-center col">
                <h2 class="text-light py-5"> A la une </h2>
                <img src={{ asset('img/dota2.jpg') }} alt="jeu a la une">
            </div>
        </div>

        <h3 class="text-light py-4"> Evenements qui pourraient vous plaire </h3>
        <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-xl-4 landing-option">
            <div class="col">
                <div class="card h-100 w-80">
                    <img src={{ asset('img/finalfantasy.jpg') }} class="card-img-top" alt="Final fantasy XIV">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Farming plaine Félicité</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Warrario</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Final Fantasy XIV</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 21/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 w-80">
                    <img src={{ asset('img/halo.jpg') }} class="card-img-top" alt="Halo">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">5v5 different maps</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Extr3mZ</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Halo Infinite</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 20/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 w-80">
                    <img src={{ asset('img/lol.jpg') }} class="card-img-top" alt="LoL">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Platine en match classé</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Grinding elo</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">League of Legends</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 12/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 w-80">
                    <img src={{ asset('img/warzone.jpg') }} class="card-img-top" alt="Warzone">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Team domination matches</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Brokly</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Call of Duty Warzone</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 10/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-light py-4"> Catégories qui pourraient vous plaire </h3>
        <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-xl-4 landing-option">
            <div class="col">
                <div class="card h-100">
                    <img src={{ asset('img/hearthstone.jpg') }} class="card-img-top" alt="Hearthstone">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Venez on est bien</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Le mister B</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Hearthstone</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 21/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src={{ asset('img/magic.jpg') }} class="card-img-top" alt="Magic">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Tournoi amical</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">House of cards</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Magic</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 16/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src={{ asset('img/yu-gi-oh.jpg') }} class="card-img-top" alt="Yu-Gi-Oh">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Vive les dragons</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Gilician</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Yu-Gi-Oh</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 14/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src={{ asset('img/pokemon.jpg') }} class="card-img-top" alt="Pokemon">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">Attrapez les tous</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">Gorgorama</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/game_icon.png') }} alt="icone de jeu">
                                    <p class="card-text text-light px-3">Pokemon</p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <img src={{ asset('img/hourglass.png') }} alt="icone de temps">
                                    <p class="text-light mb-0 px-3"> Le 22/01/22</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}