{% extends 'base.html.twig' %}

{% block title %}
    WonderGeek le site référence de la PopCulture 
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/index.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <div class="container-fluid px-3">
        <div class="landing row">
            <div class="landing-content col py-5">
                <h1>Bienvenue sur WonderGeek</h1>
                <h2>Le site référence de la PopCulture</h2>
                <a href="{{ path('event_list') }}" class="button">
                    Voir nos événements
                </a>
            </div>
            <div class="text-center col">
                <h2 class="text-light py-5"> A la une </h2>
                <img src={{ asset('img/dota2.jpg') }} alt="jeu a la une">
            </div>
        </div>

        <h3 class="text-light py-4"> Evenements qui pourraient vous plaire </h3>

        {% for event in events|slice(0, 5) %}

        <div class="row row-cols-xl-4 landing-option">
            <div class="col">
                <div class="card h-100 w-80">
                    <img src={{ event.picture }} class="card-img-top" alt="{{event.name}}">
                    <div class="card-body bg-dark">
                        <h4 class="card-title text-light">{{event.name}}</h4>
                        <div class="row d-flex flex-row">
                            <h5 class="text-light">{{event.description|slice(0, 150)}}</h5>
                            <div class="row icone pt-3">
                                <div class="col-6 d-flex flex-row align-items-center">
                                    
                                    <p class="card-text text-light px-3">{{event.category.name}}
                                
                                {% if event.category.name == "Convention" or event.category.name == "Meeting" %}
                                <i class="fas fa-users"></i>

                                {% elseif event.category.name == "Vente aux enchères / troc" %}
                                <i class="fas fa-gavel"></i>

                                {% elseif event.category.name == "Conférence" %}
                                <i class="fas fa-bullhorn"></i>

                                {% else %}
                                <i class="fas fa-gamepad"></i>

                                {% endif %} 
                                </p>
                                </div>
                                <div class="col-6 d-flex flex-row align-items-center">
                                    <p class="text-light mb-0 px-3"> Début:{{event.startat|date('d/m/Y h:i')}} <br>
                                    fin estimée: {{event.endat|date('d/m/Y h:i')}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}