{% extends 'base.html.twig' %}

{% block title %}{{ manga.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/manga/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}

<div class="heart-container">
    <a href="#"> <i class="fas fa-heart heart-icon"></i></a>
</div>

    <article class="manga container-fluid">
        <h1 class="py-3 text-center">{{ manga.name }}</h1>
        <div class="manga-view">
            {% if manga.picture matches '{^http}' %}
                <img src="{{ manga.picture }}" alt="{{ manga.name }}">
            {% else %}
                <img src="{{ asset('uploads/manga_pictures/' ~ manga.picture) }}" alt="{{ manga.name }}">
            {% endif %}
        </div>
        <div class="manga-summary d-flex flex-column">
                <p class="manga-summary__description my-3">
                    {{ manga.description }}
                </p>
                <aside class="manga-summary__detail text-center my-3">
                    <ul>
                        <li>
                            <i class="fas fa-tags"></i>
                            Genre : {{ manga.category.name }}
                        </li>
                    </ul>
                </aside>
            </div>

    </article>
{% endblock %}

