{% extends 'base.html.twig' %}

{% block title %}Liste des jeux vidéos - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/video_game/list.css') }}">
{% endblock %}

{% block body %}

    <h1 class="py-2 text-center">Les jeux vidéos</h1>

    {{ form_start(searchForm) }}
    <div class="row g-3">
        <div class="col-sm-7">
        {{ form_row(searchForm.query) }}  
        </div>
        <div class="col-sm">
        {{ form_row(searchForm.submit) }}
        </div>
    </div>
    {{ form_end(searchForm) }}
    
    <div class="videoGames container-fluid">
        <div class="row">
            {% for videoGame in videoGames %}
            <div class="col-sm-12 col-md-12 col-xl-6 my-2">
                <div class="card bg-dark">
                    <div class="card-body">
                        <article class="videoGame">

                            <div class="videoGame-picture text-center p-1">    
                                <img src="{{ videoGame.picture }}" alt="{{ videoGame.name }}">
                            </div>

                            <div class="videoGame-summary">
                                <div class="py-2">
                                    <h2 class="text-center py-2">{{ videoGame.name }}</h2>
                                    <p class="px-4">{{ videoGame.description|slice(0, 70) }} ...</p>
                                </div>

                                <div class="row text-center py-2 vg-body">
                                    <div class="col-sm-12 py-2">
                                        <i class="fas fa-tags"></i>
                                        Genre : {{ videoGame.category.name }}
                                    </div>
                                    <div class="col">
                                        Disponible sur :
                                        {% for platform in videoGame.platform %}
                                            <li>
                                                {% if platform.name == "Playstation 4" or platform.name == "Playstation 5" %}
                                                    <i class="fab fa-playstation"></i>
                                                        
                                                    {% elseif platform.name == "Xbox One" or platform.name == "Xbox Series" %}
                                                    <i class="fab fa-xbox"></i>

                                                    {% elseif platform.name == "Nintendo Switch" or platform.name == "Wii U" %}
                                                    <i class="fas fa-dice-d6"></i>

                                                    {% elseif platform.name == "PC" %}
                                                    <i class="fab fa-windows"></i>

                                                    {% elseif platform.name == "MAC" %}
                                                    <i class="fab fa-apple"></i>

                                                    {% else %}
                                                    <i class="fab fa-google-wallet"></i>
                                                        
                                                {% endif %}
                                                {{ platform.name }}
                                            </li>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="videoGame-action text-center">
                                    <a href="{{ path('video_game_show', {id: videoGame.id}) }}" class="button">Plus de détails</a>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}