<header>
  <div class="container-fluid">
  <nav class="navbar">

      {# LOGO WonderGeeK#}
      <a class="mx-4" href="{{ path('main_index') }}"><img src={{ asset('img/logo.png') }} alt="logo wonderGeeK"></a>

      <div class="allMenu row">
        <span class="openMenu d-flex align-self-end justify-content-end ms-auto"><i class="fa fa-bars"></i></span>
        <span class="closeMenu"><i class="fa fa-times"></i></span>
        <ul class="mainMenu nav justify-content-center me-auto mb-2 mb-lg-0">
          <li><a href="{{ path('main_index') }}">Accueil</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Évènements
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ path('event_list') }}">Liste</a></li>
              <li><a class="dropdown-item" href="{{ path('video_game_list') }}">Jeux vidéos</a></li>
              <li><a class="dropdown-item" href="{{ path('board_game_list') }}">Jeux de société</a></li>
              <li><a class="dropdown-item" href="{{ path('manga_list') }}">Mangas</a></li>
              <li><a class="dropdown-item" href="{{ path('comic_list') }}">Comics</a></li>
            </ul>
          </li>
          <li><a href="{{ path('user_list') }}">Utilisateurs</a></li>
          <li><a href="{{ path('contact_index') }}">Contact</a></li>

          {% if app.user %}
          <li><a href="{{ path('user_profile', {id: app.user.id}) }}">{{ app.user.username }}</a></li>
          <li><a href="{{ path('user_logout') }}">Déconnexion</a> </li>

          {% else %}

          <li><a href="{{ path('user_login')}}">Connexion</a></li>
          <li><a href="{{ path('user_register')}}">Inscription</a></li>

          {% endif %}
          <li>
            <span class="icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>