<header>
  <div class="nav">
    <img src={{ asset('img/logo.png') }} alt="logo wonderGeeK">
  </div>
  <nav>
    <div class="openMenu d-flex justify-content-end"><i class="fa fa-bars"></i></div>
    <div class="d-flex justify-content-center">
      <ul class="mainMenu">
        <li><a href="{{ path('main_index') }}">Accueil</a></li>
        <li><a href="{{ path('main_event') }}">Évenements</a></li>
        <li><a href="{{ path('main_contact') }}">Contact</a></li>

{% if app.user %}
        <li> <a href="#">{{ app.user.username }}</a></li>
        <li> <a href="{{ path('user_logout') }}">Déconnexion</a> </li>
{% else %}
        <li><a href="{{ path('user_login')}}">Connexion</a></li>
        <li><a href="{{ path('user_register')}}">Inscription</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
{% endif %}
        <span class="icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-github"></i>
        </span>
      </ul>
    </div>
  </nav>
</header>