{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/list.css') }}">
{% endblock %}

{% block body %}

    <h1 class="py-4 text-center">Les utilisateurs</h1>

    {{ form_start(searchForm) }}
    <div class="row g-3 my-2">
        <div class="col-sm-7">
            {{ form_row(searchForm.query) }}  
        </div>
        <div class="col-sm">
            {{ form_row(searchForm.submit) }}
        </div>
    </div>
    {{ form_end(searchForm) }}

    <div class="users row">
        {% for user in users %}
        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 py-3">
            <article class="card bg-dark user">
                <div class="card-body">
                    <div class="user-picture text-center p-1">    
                        {% if user.picture matches '{^http}' %}
                            <img class="avatar" src="{{ user.picture }}" alt="{{ user.username }}">
                        {% else %}
                            <img class="avatar" src="{{ asset('uploads/user_avatars/' ~ user.picture) }}" alt="{{ user.username }}">
                        {% endif %}
                    </div>
                    <div class="user-summary">
                        <h2 class="text-center">{{ user.username }}</h2>
                        
                            <ul>
                                <li>
                                    <i class="fas fa-home"></i>
                                    {{ user.city }}
                                </li>
                                <li>
                                    <i class="fas fa-birthday-cake"></i>
                                    {{ user.birthdate|date('d/m/Y') }} - {{ user.age }}
                                </li>
                                <li>
                                    {% if user.profile != NULL %}
                                        <i class="fas fa-id-card"></i>
                                        {{ user.profile.name }}
                                    {% else %}
                                    {% endif %}
                                </li>
                                <li>
                                    {% if user.level != NULL %}
                                        <i class="fas fa-sort-amount-up"></i>
                                        {{ user.level.name }}
                                    {% else %}
                                    {% endif %}
                                </li>
                            </ul>
                        {# <div class="user-action">
                            <a href="{{ path('user_show', {id: user.id}) }}" class="button">Plus de détails</a>
                        </div> #}
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination my-5 d-flex flex-row justify-content-end">
        {% for item in 1..((total / limit)|round(0, 'ceil')) %}
            <li>
                <a class="{{ (page == item ? 'active' : 'passive') }} text-white p-3" href="?page={{ item }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}