{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur - {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<link rel="stylesheet" href="{{ asset('css/user/profile.css') }}">
{% endblock %}

{% block body %}
<h1>Mon espace utilisateur</h1>
<div class="container justify-content-center">
  <div class="card border-light mb-3 profile-space">
    <div class="card-header"> 

      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-3">
          {% if user.picture matches '{^http}' %}
            <img class="avatar" src="{{ user.picture }}" alt="{{ user.username }}">
          {% else %}
            <img class="avatar" src="{{ asset('uploads/user_avatars/' ~ user.picture) }}" alt="{{ user.username }}">
          {% endif %}
        </div>
        
        <div class="col-sm-3">
          <h2 class="username">{{ user.username }}</h2>
        </div>

        <ul>
          <li>
            <i class="fas fa-home"></i>
            {{ user.city }}
          </li>
          <li>
            <i class="fas fa-birthday-cake"></i>
            {{ user.birthdate|date('d/m/Y') }} - {{ user.age }}
          </li>
        </ul>
      </div>

      <div class="card-body">
        <h4 class="card-title">Ton activité préférée</h4>
          <p class="card-text">
            Profil: {{ user.profile.name }}<br>
            Niveau du joueur: {{ user.level.name }}<br>
          </p>
          
          <h4>Tes favoris <i class="fas fa-heart heart-icon"></i></h4>
          <div class="container-favorites">
            
            <div class="favorites">
              {% for favoriteVideoGame in user.favoriteVideoGame %}
                  <a href="{{ path('video_game_show', {id: favoriteVideoGame.id }) }}"><img src="{{ favoriteVideoGame.picture }}" alt="photo de {{ favoriteVideoGame.name }}"></a> <br>
              {% endfor %}
            </div>

            <div class="favorites">
                {% for favoriteBoardGame in user.favoriteBoardGame %}
                    <a href="{{ path('board_game_show', {id: favoriteBoardGame.id }) }}"><img src="{{ favoriteBoardGame.picture }}" alt="photo de {{ favoriteBoardGame.name }}"></a> <br>
                {% endfor %}
            </div>

            <div class="favorites">
              {% for favoriteManga in user.favoriteManga %}
                  <a href="{{ path('manga_show', {id: favoriteManga.id }) }}"><img src="{{ favoriteManga.picture }}" alt="photo de {{ favoriteManga.name }}"></a> <br>
              {% endfor %}
            </div>

            <div class="favorites">
              {% for favoriteComic in user.favoriteComic %}
                  <a href="{{ path('comic_show', {id: favoriteComic.id }) }}"><img src="{{ favoriteComic.picture }}" alt="photo de {{ favoriteComic.name }}"></a> <br>
              {% endfor %}
            </div>
          </div>

        <div class="create-event__button my-2">
          <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary m-2">Modifier tes informations</a>
          <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-danger m-2">Supprimer ton compte</a>
        </div>
      </div>
  </div>

  <div class="events p-3 rounded-2">
    
    <div>
    <h3>Mes réservations</h3>
    {% for bookings in user.bookings %}
    <div class="py-4">
      <i class="fas fa-ticket-alt"></i>
      Référence de réservation : {{ bookings.reference }} <br>
      <i class="fas fa-calendar-day"></i>
      Date de l'évènement : {{ bookings.event.startAt|date('d/m/Y H:i') }} <br>
      <i class="far fa-eye"></i>
      Voir l'évènement <i class="fas fa-arrow-right"></i> <a href="{{ path('event_show', {id: bookings.event.id }) }}">{{ bookings.event.name}}</a>
    </div>           
    {% endfor %}
  </div>

  <div class="py-4">
    <h3>Mes évènements</h3>
    {% for ownedEvents in user.ownedEvents %}
    <div>
      <i class="fas fa-calendar-day"></i>
      Date de l'évènement : {{ ownedEvents.startAt|date('d/m/Y H:i') }} <br>
      <i class="far fa-eye"></i>
      Voir l'évènement <i class="fas fa-arrow-right"></i></i> <a href="{{ path('event_show', {id: ownedEvents.id }) }}">{{ ownedEvents.name}}</a>
    </div>           
    {% endfor %}
  </div>

{% endblock %}