{% extends 'base.html.twig' %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<link rel="stylesheet" href="{{ asset('css/user/profil.css') }}">
{% endblock %}

{% block body %}
<h1> Mon profil </h1>

<div class="card border-light mb-3">
  <h2 class="card-header"> <img src="/uploads/avatar/{{user.picture}}" alt="Avatar de profil de {{user.username}}"><br>
  {{user.username}} <br>
  de {{user.city}} né le {{user.birthdate|date('d/m/Y')}}</h2>
  <div class="card-body">
    <h3 class="card-title">Information de {{user.username}} </h3>
    <p class="card-text">
    Contacter le joueur: <a href="mailto:{{user.email}}">{{user.email}}</a><br>
    profil: {{user.profile.name}}<br>
    Niveau du joueur: {{user.level.name}}<br>
    </p>
    <div class="create-event__button my-2">
            <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary">Modifier votre profil </a>
            <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-danger"> Supprimer votre profil </a>
        </div>
  </div>
</div>


{% endblock %}