{% extends 'base.html.twig' %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<link rel="stylesheet" href="{{ asset('css/user/profil.css') }}">
{% endblock %}

{% block body %}
<h1> Mon profil </h1>

<div class="card border-light mb-3">
  <div class="card-header"> 

    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-sm-3">
        {% if user.picture matches '{^http}' %}
          <img class="avatar" src="{{ user.picture }}" alt="{{ user.username }}">
        {% else %}
          <img class="avatar" src="{{ asset('uploads/user_avatars/' ~ user.picture) }}" alt="{{ user.username }}">
        {% endif %}
      </div>
      <div class="col-sm-3">
        <h2 class="username">{{ user.username }}</h2></div>
      </div>

    <ul>
      <li>
        <i class="fas fa-home"></i>
        {{ user.city }}
      </li>
      <li>
        <i class="fas fa-birthday-cake"></i>
        {{ user.birthdate|date('d/m/Y') }} - {{ user.age }}
      </li>
    </ul>
</div>

  <div class="card-body">
    <h3 class="card-title">Information de {{user.username}} </h3>
    <p class="card-text">
    Contacter le joueur: <a href="mailto:{{user.email}}">{{user.email}}</a><br>
    Profil: {{ user.profile.name }}<br>
    Niveau du joueur: {{ user.level.name }}<br>
    </p>
    <div class="create-event__button my-2">
            <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary">Modifier votre profil </a>
            <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-danger"> Supprimer votre profil </a>
        </div>
  </div>
</div>


{% endblock %}