{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/component/form.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center py-4">Inscription</h1>

    {{ form_start(form) }}

    <div class="row text-center">
        <div class="py-2">
            {{ form_row(form.username) }}
        </div>
        <div class="py-2">
            {{ form_row(form.email) }}
        </div>
        <div class="py-2">
            {{ form_row(form.Password) }}
        </div>
        <div class="py-2">
            {{ form_row(form.city) }}
        </div>
        <div class="py-2">
            {{ form_row(form.birthdate) }}
        </div>
        <div class="py-2">
            {{ form_row(form.picture) }}
        </div>
        <div class="py-2">
            {{ form_row(form.cgu) }}
        </div>
    </div>
    <div class="form-end">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
