{% extends 'base.html.twig' %}

{% block title %}Liste des Comics - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/comic/list.css') }}">
{% endblock %}

{% block body %}

    <h1 class="py-2 text-center">Les Comics</h1>

    <div class="comics row">
        {% for comic in comics %}
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <article class="card bg-dark comic">
                <div class="card-body">
                    <div class="comic-picture text-center p-1">    
                        <img src="{{ comic.picture }}" alt="{{ comic.name }}">
                    </div>
                    <div class="comic-summary">
                        <h2 class="text-center">{{ comic.name }}</h2>
                        <p>{{ comic.description|slice(0, 250) }} ...</p>
                        <div>
                            <ul>
                                <li>
                                    <i class="fas fa-tags"></i>
                                    Genre : {{ comic.category.name }}
                                </li>
                            </ul>
                        </div>
                        <div class="comic-action">
                            <a href="{{ path('comic_show', {id: comic.id}) }}" class="button">Plus de détails</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>

    <ul class="pagination my-5 d-flex flex-row justify-content-end">
        {% for item in 1..((total / limit)|round(0, 'ceil')) %}
            <li>
                <a class="{{ (page == item ? 'active' : 'passive') }} text-white p-3" href="?page={{ item }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}