{% extends 'base.html.twig' %}

{% block title %}{{ comic.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/comic/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}

<div class="heart-container">
    <a href="#"> <i class="fas fa-heart heart-icon"></i></a>
</div>

    <article class="comic container-fluid">
        <h1 class="py-3 text-center">{{ comic.name }}</h1>
        <div class="comic-view">
            {% if comic.picture matches '{^http}' %}
                            <img src="{{ comic.picture }}" alt="{{ comic.name }}">
                        {% else %}
                            <img src="{{ asset('uploads/comic_pictures/' ~ comic.picture) }}" alt="{{ comic.name }}">
                        {% endif %}
        </div>
        <div class="comic-summary d-flex flex-column">
                <p class="comic-summary__description my-3">
                    {{ comic.description }}
                </p>
                <aside class="comic-summary__detail text-center my-3">
                    <ul>
                        <li>
                            <i class="fas fa-tags"></i>
                            Genre : {{ comic.category.name }}
                        </li>
                    </ul>
                </aside>
            </div>

    </article>
{% endblock %}

